# Ignore virtual environment
.venv

# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore linting and testing cache files
.ruff_cache
.pytest_cache

# Ignore logs and temp files
*.log
*.tmp

# Ignore other environment and config files
.env